/** G�n�ral **/

img {
	border:				none;
}

fieldset legend 
{
	color:				#2b66d5;
}

/** Listes **/
.ajout {
	background-image:	url(../images/add.gif);
	background-repeat:	no-repeat;
	padding-left:		20px;
}

/** Formulaires **/
.ligne 
{
	padding:			5px 0px;
}

.ligne .label {
	float:				left;
	padding-right:		10px;
	text-align:			right;
	width:				130px;
}

.error
{
	color: red;	
}

/** deco **/
body {
	font:				90% "Trebuchet MS", sans-serif;
}

a {
	color: 				#6c0;
	font-weight: 		bold;
}

a:hover {
	color: 				#c00;
}

/** Tableaux **/
table.adminlist {
	background-color:	#E7E7E7;
	border-spacing:		1px;
	color:				#666666;
	width:				100%;
	margin-top: 		5px;
}

table.adminlist thead th {
	background:			#F0F0F0 none repeat scroll 0%;
	border-bottom:		1px solid #999999;
	border-left:		1px solid #FFFFFF;
	color:				#666666;
	text-align:			center;
}

table.adminlist tbody tr {
	background-color:	#FFFFFF;
	text-align:			left;
}

table.adminlist tbody tr.row1 {
	background:			#F9F9F9 none repeat scroll 0%;
	border-top:			1px solid #FFFFFF;
}

table.adminlist tbody tr td {
	border:				1px solid #FFFFFF;
	height:				25px;
}

table.adminlist td, table.adminlist th {
	padding:			4px;
}

table.adminlist tbody tr.row0:hover td, table.adminlist tbody tr.row1:hover td {
	background-color:	#ffffcc;
}

table.adminlist tfoot td, table.adminlist tfoot th {
	background-color:	#F3F3F3;
	border-top:			1px solid #999999;
	text-align:			center;
}

/** Employé **/
#bloc_nom, #bloc_mail_tel, #bloc_adresse
{
	float:				left;
}

#bloc_mail_tel
{
	margin-top:			32px;
}

#bar {
	font-family:		arial,sans-serif !important;
	height:				20px;
}

.gbh {
	position:			absolute;
	top:				28px;
	width:				100%;
	border-top:			1px solid #C9D7F1;
}

#leftsidebar {
	float:				left;
	margin:				0px 1px 0px 0px;
	padding-bottom:		15px;
	padding-right:		15px;
	width:				179px;
}
ul.menu {
	border-bottom:		1px solid #DDDDDD;
	border-left:		1px solid #DDDDDD;
	border-right:		2px solid #DDDDDD;
	list-style-image:	none;
	list-style-position:outside;
	list-style-type:	none;
	margin:				9px 3px 0px 10px;
	padding:			0pt;
}

ul.menu li.subhead a {
	color:				#FFFFFF;
	display:			block;
	font-size:			13px;
	font-weight:		bold;
	height:				17px;
	margin:				0px;
	padding:			1px 5px 2px 0px;
	text-align:			right;
	text-decoration:	none;
	vertical-align:		middle;
}

ul.menu li.subtitle a {
	display:			block;
	font-size:			12px;
	height:				18px;
	margin:				0px;
	padding:			1px 7px 2px 0px;
	text-align:			right;
	text-decoration:	none;
}

ul.menu li.subtitle a:hover {
	background:			white url(../images/progress_background.png) repeat scroll 0% 20%;
}

div.icon {
	background-color:#FFFFFF;
	text-align:center;
}

div.icon a {
	border:1px solid #DDDDDD;
	color:#666666;
	display:block;
	height:85px;
	text-decoration:none;
	width:105px;
}

div.icon {
	text-align:center;
}

#cpanel img {
	padding:2px 0pt;
}
