<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">
	
	<!-- couches applicatives -->
	<bean id="daoUtilisateur" class="dao.DaoUtilisateur" />
	<bean id="serviceUtilisateur" class="services.ServiceUtilisateur">
		<property name="daoUtilisateur" ref="daoUtilisateur" />
	</bean>
	<bean id="daoDroit" class="dao.DaoDroit" />
	<bean id="serviceDroit" class="services.ServiceDroit">
		<property name="daoDroit" ref="daoDroit" />
	</bean>
	<bean id="daoTheme" class="dao.DaoTheme" />
	<bean id="serviceTheme" class="services.ServiceTheme">
		<property name="daoTheme" ref="daoTheme" />
	</bean>
	<bean id="daoCategorie" class="dao.DaoCategorie" />
	<bean id="serviceCategorie" class="services.ServiceCategorie">
		<property name="daoCategorie" ref="daoCategorie" />
	</bean>
	<bean id="daoMetier" class="dao.DaoMetier" />
	<bean id="serviceMetier" class="services.ServiceMetier">
		<property name="daoMetier" ref="daoMetier" />
	</bean>
	<bean id="daoCivilite" class="dao.DaoCivilite" />
	<bean id="serviceCivilite" class="services.ServiceCivilite">
		<property name="daoCivilite" ref="daoCivilite" />
	</bean>
	<bean id="daoContrat" class="dao.DaoContrat" />
	<bean id="serviceContrat" class="services.ServiceContrat">
		<property name="daoContrat" ref="daoContrat" />
	</bean>
	<bean id="daoCompetence" class="dao.DaoCompetence" />
	<bean id="serviceCompetence" class="services.ServiceCompetence">
		<property name="daoCompetence" ref="daoCompetence" />
	</bean>
	<bean id="daoNiveauEtude" class="dao.DaoNiveauEtude" />
	<bean id="serviceNiveauEtude" class="services.ServiceNiveauEtude">
		<property name="daoNiveauEtude" ref="daoNiveauEtude" />
	</bean>
	<bean id="daoEmploye" class="dao.DaoEmploye" />
	<bean id="serviceEmploye" class="services.ServiceEmploye">
		<property name="daoEmploye" ref="daoEmploye" />
	</bean>
	
	<!-- couche de persistance JPA -->
	<bean id="entityManagerFactory"	class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="jpaVendorAdapter">
			<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
				<property name="showSql" value="true" />
				<property name="databasePlatform"
				value="org.hibernate.dialect.Oracle10gDialect" />
				<property name="generateDdl" value="false" />
			</bean>
		</property>
		<property name="loadTimeWeaver">
			<bean class="org.springframework.instrument.classloading.InstrumentationLoadTimeWeaver" />
		</property>
	</bean>
	<!-- la source de donnees DBCP -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="oracle.jdbc.OracleDriver" />
		<property name="url" value="jdbc:oracle:thin:@localhost:1521:orcl" />
		<property name="username" value="irh" />
		<property name="password" value="irh" />
	</bean>
	<!-- le gestionnaire de transactions -->
	<tx:annotation-driven transaction-manager="txManager" />
	<bean id="txManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory" />
	</bean>
	<!-- traduction des exceptions -->
	<bean class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor" />
	<!-- annotations de persistance -->
	<bean class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor" />	
</beans>