<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">
 
 	<!-- Controllers -->
	<bean name="/helloworld.htm" class="web.HelloWorldController">
		<property name="su" ref="serviceUtilisateur" />
	</bean>
	<bean name="/identification.htm" class="web.consultation.IdentificationController">
		<property name="commandClass" value="entities.Utilisateur" />
		<property name="formView" value="identification" />
		<property name="successView" value="accueil_rh.htm" />
		<property name="validator" ref="identificationValidator" />
	</bean>
	<bean name="/liste_utilisateurs.htm" class="web.administration.ListeUtilisateursController">
		<property name="su" ref="serviceUtilisateur" />
	</bean>
	<bean name="/add_utilisateur.htm" class="web.administration.AddUtilisateurController">
		<property name="commandClass" value="entities.Utilisateur" />
		<property name="formView" value="add_modif_utilisateur" />
		<property name="successView" value="liste_utilisateurs.htm" />
		<property name="validator" ref="addModifUtilisateurValidator" />
		<property name="su" ref="serviceUtilisateur" />
		<property name="sd" ref="serviceDroit" />
	</bean>
	<bean name="/modif_utilisateur.htm" class="web.administration.ModifUtilisateurController">
		<property name="commandClass" value="entities.Utilisateur" />
		<property name="formView" value="add_modif_utilisateur" />
		<property name="successView" value="liste_utilisateurs.htm" />
		<property name="validator" ref="addModifUtilisateurValidator" />
		<property name="su" ref="serviceUtilisateur" />
		<property name="sd" ref="serviceDroit" />
	</bean>
	<bean name="/suppr_utilisateur.htm" class="web.administration.SupprUtilisateurController">
		<property name="su" ref="serviceUtilisateur" />
	</bean>
	<bean name="/liste_themes.htm" class="web.formations.ListeThemesController">
		<property name="st" ref="serviceTheme" />
	</bean>
	<bean name="/add_theme.htm" class="web.formations.AddThemeController">
		<property name="commandClass" value="entities.Theme" />
		<property name="formView" value="add_modif_theme" />
		<property name="successView" value="liste_themes.htm" />
		<property name="validator" ref="addModifThemeValidator" />
		<property name="st" ref="serviceTheme" />
	</bean>
	<bean name="/modif_theme.htm" class="web.formations.ModifThemeController">
		<property name="commandClass" value="entities.Theme" />
		<property name="formView" value="add_modif_theme" />
		<property name="successView" value="liste_themes.htm" />
		<property name="validator" ref="addModifThemeValidator" />
		<property name="st" ref="serviceTheme" />
	</bean>
	<bean name="/suppr_theme.htm" class="web.formations.SupprThemeController">
		<property name="st" ref="serviceTheme" />
	</bean>
	<bean name="/liste_categories.htm" class="web.formations.ListeCategoriesController">
		<property name="sc" ref="serviceCategorie" />
	</bean>
	<bean name="/add_categorie.htm" class="web.formations.AddCategorieController">
		<property name="commandClass" value="entities.Categorie" />
		<property name="formView" value="add_modif_categorie" />
		<property name="successView" value="liste_categories.htm" />
		<property name="validator" ref="addModifCategorieValidator" />
		<property name="sc" ref="serviceCategorie" />
		<property name="st" ref="serviceTheme" />
	</bean>
	<bean name="/modif_categorie.htm" class="web.formations.ModifCategorieController">
		<property name="commandClass" value="entities.Categorie" />
		<property name="formView" value="add_modif_categorie" />
		<property name="successView" value="liste_categories.htm" />
		<property name="validator" ref="addModifCategorieValidator" />
		<property name="sc" ref="serviceCategorie" />
		<property name="st" ref="serviceTheme" />
	</bean>
	<bean name="/suppr_categorie.htm" class="web.formations.SupprCategorieController">
		<property name="sc" ref="serviceCategorie" />
	</bean>
	<bean name="/liste_metiers.htm" class="web.formations.ListeMetiersController">
		<property name="sm" ref="serviceMetier" />
	</bean>
	<bean name="/add_metier.htm" class="web.formations.AddMetierController">
		<property name="commandClass" value="entities.Metier" />
		<property name="formView" value="add_modif_metier" />
		<property name="successView" value="liste_metiers.htm" />
		<property name="validator" ref="addModifMetierValidator" />
		<property name="sc" ref="serviceCategorie" />
		<property name="sm" ref="serviceMetier" />
	</bean>
	<bean name="/modif_metier.htm" class="web.formations.ModifMetierController">
		<property name="commandClass" value="entities.Metier" />
		<property name="formView" value="add_modif_metier" />
		<property name="successView" value="liste_metiers.htm" />
		<property name="validator" ref="addModifMetierValidator" />
		<property name="sc" ref="serviceCategorie" />
		<property name="sm" ref="serviceMetier" />
	</bean>
	<bean name="/suppr_metier.htm" class="web.formations.SupprMetierController">
		<property name="sm" ref="serviceMetier" />
	</bean>
	<bean name="/liste_competences.htm" class="web.carrieres.ListeCompetencesController">
		<property name="sc" ref="serviceCompetence" />
	</bean>
	<bean name="/add_competence.htm" class="web.carrieres.AddCompetenceController">
		<property name="commandClass" value="entities.Competence" />
		<property name="formView" value="add_modif_competence" />
		<property name="successView" value="liste_competences.htm" />
		<property name="validator" ref="addModifCompetenceValidator" />
		<property name="sc" ref="serviceCompetence" />
	</bean>
	<bean name="/modif_competence.htm" class="web.carrieres.ModifCompetenceController">
		<property name="commandClass" value="entities.Competence" />
		<property name="formView" value="add_modif_competence" />
		<property name="successView" value="liste_competences.htm" />
		<property name="validator" ref="addModifCompetenceValidator" />
		<property name="sc" ref="serviceCompetence" />
	</bean>
	<bean name="/suppr_competence.htm" class="web.carrieres.SupprCompetenceController">
		<property name="sc" ref="serviceCompetence" />
	</bean>
	<bean name="/accueil_rh.htm" class="web.consultation.AccueilRHController"/>
 	<bean name="/liste_employes.htm" class="web.administration.ListeEmployesController">
		<property name="se" ref="serviceEmploye" />
	</bean>
	<bean name="/add_employe.htm" class="web.administration.AddEmployeController">
		<property name="commandClass" value="entities.Employe" />
		<property name="formView" value="add_modif_employe" />
		<property name="successView" value="liste_employes.htm" />
		<property name="se" ref="serviceEmploye" />
		<property name="sc" ref="serviceCivilite" />
	</bean>
	<bean name="/modif_Employe.htm" class="web.administration.ModifEmployeController">
		<property name="commandClass" value="entities.Employe" />
		<property name="formView" value="add_modif_employe" />
		<property name="successView" value="liste_employes.htm" />
		<property name="se" ref="serviceEmploye" />
		<property name="sc" ref="serviceCivilite" />
	</bean>
	<bean name="/suppr_employe.htm" class="web.administration.SupprEmployeController">
		<property name="se" ref="serviceEmploye" />
	</bean>
 	<!-- Validadors -->
 	<bean name="identificationValidator" class="web.consultation.IdentificationValidator">
 		<property name="su" ref="serviceUtilisateur" />
 	</bean>
 	<bean name="addModifUtilisateurValidator" class="web.administration.AddModifUtilisateurValidator" />
 	<bean name="addModifThemeValidator" class="web.formations.AddModifThemeValidator" />
 	<bean name="addModifCategorieValidator" class="web.formations.AddModifCategorieValidator" />
 	<bean name="addModifMetierValidator" class="web.formations.AddModifMetierValidator" />
 	<bean name="addModifCompetenceValidator" class="web.carrieres.AddModifCompetenceValidator" />
 	
 	<!-- View Resolvers -->
	<bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass" value="org.springframework.web.servlet.view.JstlView" />
		<property name="prefix" value="/WEB-INF/jsp/" />
		<property name="suffix" value=".jsp" />
	</bean>
</beans>